header
  div.stripes
  div.noise
  div.container
    h1 Hi, I'm Ross :)
    h3 I'm a web application developer based in Manchester, England.
    p I enjoy designing and building intuitive

div.container
  
  div.row
    h2 Education
  div.row
    div.span3
      h4 University of Manchester
      h4 SWCHS
  
    div.span12.offset1
      p Some example content, some example content, some example content, some example content
  
  div.row
    h2 Work
  div.row
    div.span3
      h4 Barclays

    div.span12.offset1
      p Some example content, some example content, some example content, some example content
  
  div.row
    h2 Projects
  div.row
    div.span3
      h4 dizzy
      h4 smappr

    div.span12.offset1
      p Some example content, some example content, some example content, some example content
  
  div.row
    h2 Personal
  div.row
    div.span3
      h4 Sports
      h4 Open Source

    div.span12.offset1
      p Some example content, some example content, some example content, some example content