.hello Hey, I'm Ross Grayton, a software developer in Manchester, England.
.faded I build web applications using technologies such as Java, Ruby, Node.js, CoffeeScript, JavaScript and CSS.
.faded
  span I currently work for 
  a(href="http://zestia.com/") Zestia 
  span on their product Capsule.

    