!!!5
html
  head
    title grayt0r.me
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Cabin+Sketch')
    //link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Droid+Sans')
    link(rel='stylesheet', href='css/style.css')
    script(src='js/libs/jquery-1.7.1.min.js')
    //!= js('script')
  body!= body