!!!5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width")
    
    title grayt0r.me
    
    link(rel="stylesheet", href="css/libs/bootstrap.min.css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Londrina+Outline")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Cabin+Sketch")
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Droid+Sans')
    link(rel="stylesheet", href="css/style.css")
    
    script(src="js/libs/modernizr-2.0.6.js")
    
  body
    canvas#my-canvas(data-processing-sources="js/pacman.pde", resize)
    
    header
    
    #main.container(role="main")
      .row
        .span4
          #links
            h2.site-name grayt0r.me

            a#projects(href="/projects", data-pjax="#content") Projects
            .faded Stuff I've been hacking on

            a#cv(href="/cv", data-pjax="#content") CV
            .faded My background and experience

            a#github Github
            .faded Examples of my work

            a#twitter Twitter
            .faded Thoughts, interesting articles and rants

        .span7.offset1
          #content
            != body
    
    footer
      a#click-me Click me
    
    script(src="js/libs/jquery-1.7.1.min.js")
    script(src="js/libs/jquery.pjax.js")
    script(src="js/libs/processing-1.3.6.js")
    script(src="js/script.js")