!!!5
html
  head
    title grayt0r.me
    != css('bootstrap.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Cabin+Sketch')
    //link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Droid+Sans')
    != css('style')
    != js('libs/jquery-1.7.1.min')
    != js('script')
  body!= body