$black = #1C1C1C
$green = #2EAB69
$blue = #385FB0
$yellow = #F0ED59
$red = #D53047
$orange = #F48031

body
  background #294852
  color white
  font-family 'Droid Sans'

footer
  position fixed
  bottom 20px
  right 20px

a
  color white
  cursor pointer
  opacity 1
  text-decoration underline

#main
  margin-top 100px

#links
  border-right 1px solid rgba(255, 255, 255, .2)
  padding 20px 0
  
  a
    color white
    display block
    font-size 18px
    margin-top 20px

#content
  font-size 1.1em
  padding 20px 0

.hello
  font-size 1.2em
  margin-bottom 30px

#click-me
  color white
  opacity .2

.site-name
  color $red
  font-family 'Londrina Outline', cursive
  //font-size 4em
  font-size 56px
  margin-bottom 40px

.faded
  opacity .7

#my-canvas
  border 1px solid white
  
  image-rendering -webkit-optimize-contrast !important
  display block
  pointer-events none
  position absolute
  margin 0
  padding 0
  
  top 0
  right 0
  bottom 0
  left 0

body
  overflow hidden