$black = #1C1C1C
$green = #2EAB69
$blue = #385FB0
$yellow = #F0ED59
$red = #D53047
$orange = #F48031

header
  position relative
  background #333
  background -moz-radial-gradient(center, ellipse cover, #333 0%, black 100%)
  background -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#333), color-stop(100%,black))
  background -webkit-radial-gradient(center, ellipse cover, #333 0%,black 100%)
  background -o-radial-gradient(center, ellipse cover, #333 0%,black 100%)
  background -ms-radial-gradient(center, ellipse cover, #333 0%,black 100%)
  background radial-gradient(center, ellipse cover, #333 0%,black 100%)
  //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333', endColorstr='#000',GradientType=1)

header .stripes
  background: url('http://twitter.github.com/hogan.js/images/stripes.png') repeat

header .noise
  background: url('http://twitter.github.com/hogan.js/images/noise.png') repeat

header .stripes, header.noise
  position absolute
  top 0
  left 0
  right 0
  bottom 0

header .container
  padding 180px 0

h1
  color $red
  font-family 'Cabin Sketch', cursive
  font-size 8em
  font-weight normal