$black = #1C1C1C
$green = #2EAB69
$blue = #385FB0
$yellow = #F0ED59
$red = #D53047
$orange = #F48031

body
  background #2B2A29 url('/images/bg.jpg') repeat center top

h2
  color $red
  font-family 'Cabin Sketch', cursive
  font-size 5em
  text-align center

.one
  margin-top 2em

.two
  margin-top 1em